doctype doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1 Avenger's App
        br
        form(action="#" method="post") 
            input(name= "avenger" type="text")
            button Add Avenger
        hr
        //- ul 
        //-     li #{data[0]}
        //-     li #{data[1]}
        //-     li #{data[2]}
        ol 
            each hero in data
                li= hero
